.header
{
    position: absolute;
    height: 50px;
    width: 100%;
    left: 150px;
    top: 0;
    right: 0;
    padding: 5px;
    background-color: #f6f6f6;
}
.leftbar
{
    position: absolute;
    width: 150px;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    border-right: 2px solid #a2a9b1;
    background-color: #f6f6f6;
}
.content
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 60px;
    left: 152px;
    bottom: 0;
    right: 0;
    padding: 5px;
    background-color: #ffffff;   
}
.content p
{
    margin-right: 600px;
    border-bottom: 2px solid #a2a9b1;
}
.tableinfo
{
    border: 2px solid #a2a9b1;
    margin-left: 1400px;
    position: absolute;
    width: 274px;
    height: 700px;
    background-color: white;
}
.enter
{
    width: 220px;
    position: absolute;
    left: 1520px;
    top: 30px;
}

